
body{
    background-color: rgb(58, 41, 46);
    height: 90vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.arena{
    display: grid;
    grid-template-columns: repeat(17, 25px);  
    grid-template-rows: repeat(17, 25px);    
    border: 1px solid #000; 
    background-color: rgba(33, 30, 30, 0.982);
} 


.unoccupied{
    background-color: rgba(33, 30, 30, 0.982);
    /* border: 1px solid #efe8e8; */
}


.tail{
    border-radius: 40%;
    background-color: rgb(52, 222, 75);
}

.fruit{
    background-color: tomato;
    border: 2px solid #000;
}

.walls{
    background-color: rgb(11, 11, 13);
}

.head {
    border-radius: 50%;
    background-color: rgb(220, 63, 35);
}